#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* border: .5rem solid lightgreen; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  outline: .25rem solid black;
  border-radius: 100rem 1rem;
  background: conic-gradient(from 40deg, green -15%, forestgreen 1%, chartreuse, forestgreen, yellowgreen 96%, white 99%);
  color: yellow;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  height: 3rem;
  /* width: 50dvw; */
  aspect-ratio: .735;
  rotate: 5deg;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  animation: logo-spin 1s 1;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  background: skyblue;
}

main#main-main {
  background: #fff4;
  padding: 2rem;
  border-radius: 1rem;
}

h1 {
  text-shadow: 0 0 .1rem black;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: .5rem 1rem;
  background: linear-gradient(155deg, white 8%, gray 50%);
  font-size: 2rem;
  font-weight: bold;
  padding: 0 .5rem .3rem .5rem;
  border-radius: 5rem;
  outline: .5rem outset black;
}

li:hover {
  background: linear-gradient(155deg, white 8%, gray 80%);
  outline: .5rem ridge black;
}

a {
  text-decoration: none;
  color: blue;
  -webkit-text-stroke: .01rem black;
}

a:hover {
  color: green;
}

input {
  margin: .5rem 0;
  padding: .5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5rem;
}

input:focus {
  background: blue;
  outline: .2rem double white;
}

label {
  margin: 0 .5rem;
  font-weight: bold;
  cursor: text;
  text-shadow: 0 0 .1rem black;
}

div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

button {
  margin: 0 .5rem;
  margin-top: 1rem;
  background: radial-gradient(white, gray);
  color: black;
  aspect-ratio: 1;
  border-radius: 50%;
  width: 5rem;
  font-size: 1rem;
  font-weight: bold;
  border: .2rem groove white;
}       

button:hover, button:focus {
  text-decoration: underline;
  background: conic-gradient(from -90deg, chartreuse, cyan 65%);
  cursor: pointer;
  border: .2rem ridge pink;
}

button:disabled {
  background: gray;
  border: .2rem solid gray;
}

button:disabled:hover {
  cursor: not-allowed;
  text-decoration: none;
  background: gray;
  border: .2rem solid gray;
}

.btn-div {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

